@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.cdnfonts.com/css/bertha');

body {
    margin: 0;
}
                
/* product css */
.product-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 100px;
    height: 564px
}

.product-sec1 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}
.product-sqr {
    width: 102.28px;
    height: 100px;
    background: #D9D9D9;
    transform: rotate(90deg);
    margin-bottom: 15.89px;
}

.product-sec2 {
position: relative;
width: 475px;
height: 564px;
left: 75px;
align-items: center;
justify-content: center;
margin-right: 170px;
}
.product-sec2 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}



/* product section 3 */
.product-sec3 {
    font-family: 'Work Sans';
    display: flex;
    flex-direction: column;
    color: #000000;
}
.prod-sec3-1 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 15px;
}

.prod-sec3-2-1 {
    font-weight: 300;
    font-size: 20px;
}
.prod-sec3-2 {
    margin-bottom: 23px;
}
.prod-sec3-3 {
    margin-bottom: 14px;
}
.prod-sec3-3-1 {
font-family: 'Abel', sans-serif;
font-weight: 400;
font-size: 30px;
color: #D11464;
}

.prod-sec3-3-2 {
    font-family: 'Abel';
font-size: 24px;
color: #959595;
text-decoration: line-through;
font-weight: lighter;
}

.prod-sec3-3-3 {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #D11464;
}

.prod-sec3-4 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    color: #000000;
}

.prod-sec3-4-2 {
    font-weight: 300;
}


.fa-star {
    color: #D9D9D9;
}

.checked {
    color: black;
}


.prod-sec3-5 {
    font-family: 'Work Sans';
    font-weight: 300;
    font-size: 20px;
    margin-top: 20px;
}


.prod-sec-color {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.prod-sec-color1-inner {
    background-color: #7C0000;
    width: 100%;
    height: 100%;
}

.prod-sec-color1, .prod-sec-color2 {
    width: 32px;
    height: 32px;
    margin-right: 16px;
    padding: 4px;
    border-color: black;
    background-color: white;
    border-width: 0.25px;
    border-style: solid;
}

.prod-sec-color2-inner {
    background-color: black;
    width: 100%;
    height: 100%;
}

.prod-sec-color2:hover {
    border-width: 2px;
}

.prod-sec-color1:hover {
    border-width: 2px;
}

.prod-sec-size {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.prod-size-sqr {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 36px;
    height: 36px;
    margin-right: 16px;
}

.prod-size-sqr:hover {
    border-width: 4px;
}

.prod-quant2 {
    width: 87px;
    height: 40px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    margin: 0px 13px 0px 13px;
}

.prod-quant1 {
font-weight: 300;
font-size: 20px;
}
.prod-quant {
    margin-top: 15px;
}

.prod-sec3-6{
    width: 183px;
    height: 62px;
    background: #000000;
    border: 4px solid #000000;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 62px;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    margin-right: 25px;
    margin-top: 20px;
}
    


/* description css */
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.description-wrapper {
    font-family: 'Work Sans', sans-serif;
    color: #000000;
    font-weight: 300;
    margin-left: 200px;
    margin-right: 200px;
    position: relative;
    margin: 0px 200px 0px 200px;
}

.description-arrow {
    display: flex;
    justify-content: right;
    margin-right: 30px;
}
.description-header {
    font-weight: 300;
    font-size: 24px;
    margin: 25px 25px 25px 25px;
}

.description-wrapper p {
    font-size: 16px;
    margin: 25px 25px 25px 25px;
}

.section-line2 {
border: 0.7px solid #CCCCCC;
}

.section-line {
    margin-left: 150px;
    margin-right: 150px;
    border: 1px solid #000000;
}

.product-wrapper + .section-line {
    margin-top: 150px;
}


/* review css */
.review-wrapper {
    font-family: 'Work Sans', sans-serif;
    color: #000000;
    margin-left: 200px;
    margin-right: 200px;
}

.review-header {
    margin: 68px 0px 27px 0px; 
    font-family: 'Work Sans';
font-style: normal;

font-size: 32px;
text-align: center;
}
.review-header1 {
    font-weight: 400;
}
.review-header2 {
    font-weight: 300;
    font-size: 22px;
}


.review-header3{
    font-size: 22px;
    font-weight: 400;
    color: #B30D52;
}

.review-header4{
font-weight: 400;
color: #B30D52;
}

.review-sec {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 60px;

}

.review-sec1 {
margin-left: 20px;
margin-right:15px;
width: 60px;
height: 60px;

border-radius: 50%;
background: #D9D9D9;

}

.review-sec2 {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.review-sec3 {
    margin-right: 60px;
}

.review-sec3-1 {
    margin-bottom: 20px;
}

.review-wrapper > .section-line {
opacity: 0.1;
border: 1px solid #1C1C1C;
margin: 60px 0px 0px 0px;
}

.see-more {
box-sizing: border-box;
width: 124px;
height: 42px;
background: #000000;
border: 1px solid #000000;
font-family: 'Work Sans';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 42px;
color: #FFFFFF;
text-align: center;
position: relative;
left: calc(50% - 124px/2);
right: calc(50% - 124px/2);
margin-bottom: 63px;
}

.more-wrapper > h2 {
font-family: 'Work Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 28px;
color: #000000;
text-align: center;
margin-top: 60px;
}


.product-row {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 60px;
    margin-bottom: 60px;
}



.product-item {
    display: inline-block;
}

.overlay-square1, .overlay-square2 {
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.product-name {
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
margin-top: 5px;
margin-bottom: 5px;
}

.product-color{
    margin-bottom: 5px;
}

.product-color-square {
    background-color: rgb(31, 162, 79);
    width:20px;
    height:20px;
    display: inline-block;
    margin-right: 5px;    
}

.product-color-square:hover {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.product-price {
    margin-top: 5px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.product-price-amount {
    color: black;
}