@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.filtered-square {
    height: 10px;
    width: 10px;
    background-color: black;
    border-color: black;
    border-width: 0.5px;
    border-style: solid;
  }

.filter-square {
    height: 10px;
    width: 10px;
    background-color: white;
    border-color: black;
    border-width: 0.5px;
    border-style: solid;
}

.filter-header {
    background-color: black;
    color:white;
    width: 48px;
    height: 25px;
    font-family: 'Work Sans';
    text-align: center;
}



.product-filter {
    position: relative;
    width: 235px;
    height: 256px;
    margin-left: 69px;
    margin-top: 199px;
}

#free-ship {
    text-align: center;
}

.product-wrapper {
    display: flex;
    flex-direction: row;
}

.products {
    
}